<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Home</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport'/>
    <link rel="icon" th:href="@{/assets/img/icon.ico}" type="image/x-icon"/>

    <!-- Fonts and icons -->
    <script th:src="@{/assets/js/plugin/webfont/webfont.min.js}"></script>
    <!-- echarts -->
    <script type="text/javascript" th:src="@{/assets/js/echarts.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/echarts.js}"></script>
    <!-- CSS Files -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/azzara.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/fonts.css}">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" th:href="@{/assets/css/demo.css}">
</head>

<body>
<div class="wrapper">
    <div class="main-header" data-background-color="purple">
        <!-- Logo Header -->
        <div class="logo-header">

            <a th:href="index.html" class="logo">
                <img th:src="@{/assets/img/logoazzara.svg}" alt="navbar brand" class="navbar-brand">
            </a>
            <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
                    data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="fa fa-bars"></i>
					</span>
            </button>
            <button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
            <div class="navbar-minimize">
                <button class="btn btn-minimize btn-rounded">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
        </div>
        <!-- End Logo Header -->

        <!-- Navbar Header -->
        <div th:replace="commom/bar :: topbar"></div>
        <!-- End Navbar -->
    </div>
    <!-- Sidebar -->
    <div th:replace="commom/bar :: projectsidebar"></div>
    <!-- End Sidebar -->
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="row">
                    <div class="col-md-2 card" style="height: 630px;">
                        <h2 style="margin-top: 10px">功能
                            <button class="btn-xs btn-warning">
                                <span class="btn-label">
                                    <i class="fas fa-plus"></i>
                                </span>
                                新建功能
                            </button>
                        </h2>
                        <!--进度条-->
                        <div id="function-complete" class="chart-circle mt-4 mb-3"></div>
                        <a href="#" style="margin-top: 20px;color: #1b1e21">
                            <h3><i class="fas fa-layer-group"></i>&nbsp;全部功能</h3>
                        </a>
                        <h3 style="margin-top: 10px;color: #1b1e21"><i class="fas fa-bookmark"></i>&nbsp;我的任务</h3>
                        <h4 style="margin-top: 10px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="#">指派给我的</a>
                        </h4>
                        <h4 style="margin-top: 10px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="#">我发布的</a>
                        </h4>
                        <h4 style="margin-top: 10px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="#">我参与的</a>
                        </h4>
                    </div>
                    <div class="col-md-10 row">
                        <div class="col-md-3">
                            <div class="card" style="height: 630px;">
                                <div class="card-header row" style="background-color: rgba(245,232,200,0.5)">
                                    <div class="card-title col-md-6" style="color: black"><i class="far fa-surprise"
                                                                                             style="color: #FF9933"></i>&nbsp;待办的
                                    </div>
                                </div>
                                <div class="card-body" style="background-color: rgba(220,220,220,0.3)">
                                    <div style="margin-top: -15px">
                                        <div class="row" style="background-color: white;margin-top: 10px">
                                            <div style="background-color: #FF9933;width: 5px;"></div>
                                            <div class="col-md-11" style="margin-top: 8px;margin-bottom: 8px">
                                                <h3>宿舍管理</h3><span style="color: darkgray">by jennie</span>
                                            </div>
                                        </div>
                                        <div class="row" style="background-color: white;margin-top: 10px">
                                            <div style="background-color: #FF9933;width: 5px;"></div>
                                            <div class="col-md-11" style="margin-top: 8px;margin-bottom: 8px">
                                                <h3>学生管理</h3><span style="color: darkgray">by jennie</span>
                                            </div>
                                        </div>
                                        <div class="row" style="background-color: white;margin-top: 10px">
                                            <div style="background-color: #FF9933;width: 5px;"></div>
                                            <div class="col-md-11" style="margin-top: 8px;margin-bottom: 8px">
                                                <h3>课室管理</h3><span style="color: darkgray">by jennie</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card" style="height: 630px;">
                                <div class="card-header" style="background-color: rgba(157,211,250,0.5)">
                                    <div class="card-title" style="color: black"><i class="far fa-tired"
                                                                                    style="color: #1F6FB5"></i>&nbsp;进行中
                                    </div>
                                </div>
                                <div class="card-body" style="background-color: rgba(220,220,220,0.3)">
                                    <div style="margin-top: -15px">
                                        <div class="row" style="background-color: white;margin-top: 10px">
                                            <div style="background-color: #1F6FB5;width: 5px;"></div>
                                            <div class="col-md-11" style="margin-top: 8px;margin-bottom: 8px">
                                                <h3>宿舍管理</h3><span style="color: darkgray">by jennie</span>
                                            </div>
                                        </div>
                                        <div class="row" style="background-color: white;margin-top: 10px">
                                            <div style="background-color: #1F6FB5;width: 5px;"></div>
                                            <div class="col-md-11" style="margin-top: 8px;margin-bottom: 8px">
                                                <h3>宿舍管理</h3><span style="color: darkgray">by jennie</span>
                                            </div>
                                        </div>
                                        <div class="row" style="background-color: white;margin-top: 10px">
                                            <div style="background-color: #1F6FB5;width: 5px;"></div>
                                            <div class="col-md-11" style="margin-top: 8px;margin-bottom: 8px">
                                                <h3>宿舍管理</h3><span style="color: darkgray">by jennie</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card" style="height: 630px;">
                                <div class="card-header" style="background-color: rgba(118,126,199,0.5)">
                                    <div class="card-title" style="color: black"><i class="far fa-laugh-squint"
                                                                                    style="color: #795DDE"></i>&nbsp;已完成
                                    </div>
                                </div>
                                <div class="card-body" style="background-color: rgba(220,220,220,0.3)">
                                    <div style="margin-top: -15px">
                                        <div class="row" style="background-color: white;margin-top: 10px">
                                            <div style="background-color: #795DDE;width: 5px;"></div>
                                            <div class="col-md-11" style="margin-top: 8px;margin-bottom: 8px">
                                                <h3>宿舍管理</h3><span style="color: darkgray">by jennie</span>
                                            </div>
                                        </div>
                                        <div class="row" style="background-color: white;margin-top: 10px">
                                            <div style="background-color: #795DDE;width: 5px;"></div>
                                            <div class="col-md-11" style="margin-top: 8px;margin-bottom: 8px">
                                                <h3>宿舍管理</h3><span style="color: darkgray">by jennie</span>
                                            </div>
                                        </div>
                                        <div class="row" style="background-color: white;margin-top: 10px">
                                            <div style="background-color: #795DDE;width: 5px;"></div>
                                            <div class="col-md-11" style="margin-top: 8px;margin-bottom: 8px">
                                                <h3>宿舍管理</h3><span style="color: darkgray">by jennie</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card" style="height: 630px;">
                                <div class="card-header" style="background-color: rgba(25,148,117,0.5)">
                                    <div class="card-title" style="color: black"><i class="far fa-kiss-wink-heart"
                                                                                    style="color: #007850"></i>&nbsp;已验收
                                    </div>
                                </div>
                                <div class="card-body" style="background-color: rgba(220,220,220,0.3)">
                                    <div style="margin-top: -15px">
                                        <div class="row" style="background-color: white;margin-top: 10px">
                                            <div style="background-color: #007850;width: 5px;"></div>
                                            <div class="col-md-11" style="margin-top: 8px;margin-bottom: 8px">
                                                <h3>宿舍管理</h3><span style="color: darkgray">by jennie</span>
                                            </div>
                                        </div>
                                        <div class="row" style="background-color: white;margin-top: 10px">
                                            <div style="background-color: #007850;width: 5px;"></div>
                                            <div class="col-md-11" style="margin-top: 8px;margin-bottom: 8px">
                                                <h3>宿舍管理</h3><span style="color: darkgray">by jennie</span>
                                            </div>
                                        </div>
                                        <div class="row" style="background-color: white;margin-top: 10px">
                                            <div style="background-color: #007850;width: 5px;"></div>
                                            <div class="col-md-11" style="margin-top: 8px;margin-bottom: 8px">
                                                <h3>宿舍管理</h3><span style="color: darkgray">by jennie</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--model框-->
<div th:replace="commom/bar :: uploadfilemodel"></div>
<div th:replace="commom/bar :: newprojectpackage"></div>

<!--   Core JS Files   -->
<script th:src="@{/assets/js/core/jquery.3.2.1.min.js}"></script>
<script th:src="@{/assets/js/core/popper.min.js}"></script>
<script th:src="@{/assets/js/core/bootstrap.min.js}"></script>
<!-- jQuery UI -->
<script th:src="@{/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js}"></script>
<!-- Bootstrap Toggle -->
<script th:src="@{/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
<!-- jQuery Scrollbar -->
<script th:src="@{/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<!-- Datatables -->
<script th:src="@{/assets/js/plugin/datatables/datatables.min.js}"></script>
<!-- Azzara JS -->
<script th:src="@{/assets/js/ready.min.js}"></script>
<!-- Azzara DEMO methods, don't include it in your project! -->
<script th:src="@{/assets/js/setting-demo.js}"></script>
<script th:src="@{/assets/js/core/bootstrap-select.min.js}"></script>
<!-- Sweet Alert -->
<script th:src="@{/assets/js/plugin/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/assets/js/myjs.js}"></script>
<!-- Chart JS -->
<script th:src="@{/assets/js/plugin/chart.js/chart.min.js}"></script>
<!-- Chart Circle -->
<script th:src="@{/assets/js/plugin/chart-circle/circles.min.js}"></script>

<!--加载退出登录公共js-->
<script th:src="@{/assets/js/nav-loginOut.js}"></script>
<!--加载导航栏消息公共js-->
<script th:src="@{/assets/js/nav-message.js}"></script>
<!--加载侧边栏公共js-->
<script th:src="@{/assets/js/nav-sider.js}"></script>
<!--加载项目包侧边栏公共js-->
<script th:src="@{/assets/js/nav-sider-project.js}"></script>
<!--初始化公共js的userId和projectId-->
<script type="text/javascript">
    var projectId = [[${param.projectId}]];
    var userId = [[${#authentication.principal.id}]];
    initJsUserIdAndProjectId(userId, projectId);
</script>


<script th:inline="javascript">
    // Cicle Chart
    Circles.create({
        id: 'function-complete',
        radius: 50,
        value: 80,
        maxValue: 100,
        width: 10,
        text: function (value) {
            return value + '%';
        },
        colors: ['#EACF02', '#2E68AA'],
        duration: 400,
        wrpClass: 'circles-wrp',
        textClass: 'circles-text',
        styleWrapper: true,
        styleText: true
    })
</script>
</body>
</html>