<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Home</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport'/>
    <link rel="icon" th:href="@{/assets/img/icon.ico}" type="image/x-icon"/>

    <!-- Fonts and icons -->
    <script th:src="@{/assets/js/plugin/webfont/webfont.min.js}"></script>
    <!-- echarts -->
    <script type="text/javascript" th:src="@{/assets/js/echarts.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/echarts.js}"></script>
    <!-- CSS Files -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/azzara.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/fonts.css}">

</head>

<body>
<div class="wrapper">
    <div class="main-header" data-background-color="purple">
        <!-- Logo Header -->
        <div class="logo-header">

            <a th:href="index.html" class="logo">
                <img th:src="@{/assets/img/logoazzara.svg}" alt="navbar brand" class="navbar-brand">
            </a>
            <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
                    data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="fa fa-bars"></i>
					</span>
            </button>
            <button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
            <div class="navbar-minimize">
                <button class="btn btn-minimize btn-rounded">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
        </div>
        <!-- End Logo Header -->

        <!-- Navbar Header -->
        <div th:replace="commom/bar :: topbar"></div>
        <!-- End Navbar -->
    </div>
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="sidebar-wrapper scrollbar-inner">
            <div class="sidebar-background"></div>
            <div class="sidebar-content">
                <div class="user">
                    <div class="avatar-sm float-left mr-2">
                        <img th:src="@{/files/photo/{filename}(filename=${#authentication.principal.photo})}" alt="..."
                             class="avatar-img rounded-circle" th:if="${#authentication.principal.photo}!=null">
                    </div>
                    <div class="info">
                        <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                                    <span th:text="${#authentication.principal.username!=null}?${#authentication.principal.username}">
									用户名
									<span class="user-level">Administrator</span>
									<span class="caret"></span>
								</span>
                        </a>
                        <div class="clearfix"></div>

                        <div class="collapse in" id="collapseExample">
                            <ul class="nav">
                                <li>
                                    <a th:href="@{/userprofile}">
                                        <span class="link-collapse">My Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#edit">
                                        <span class="link-collapse">Edit Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#settings">
                                        <span class="link-collapse">Settings</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="nav">
                    <li class="nav-item">
                        <a th:href="index.html">
                            <i class="fas fa-home"></i>
                            <p>主页</p>
                        </a>
                    </li>
                    <li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
                        <h4 class="text-section">infromation</h4>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/projectmessage(projectId=${param.projectId},userId=${#authentication.principal.id})}">
                            <i class="far fa-comment-dots"></i>
                            <p>项目消息</p>
                            <span class="badge badge-count">5</span>
                        </a>
                    </li>
                    <li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
                        <h4 class="text-section">content</h4>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#base1">
                            <i class="fas fa-box"></i>
                            <p>项目</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="base1">
                            <ul class="nav nav-collapse" id="projectsul"></ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/project_user_view(projectId=${param.projectId})}">
                            <i class="fas fa-users"></i>
                            <p>合作伙伴</p>
                        </a>
                    </li>
                    <li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
                        <h4 class="text-section">package</h4>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="modal" data-target="#addpackage">
                            <i class="fas fa-plus-square"></i>
                            <p>new package</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="modal" data-target="#uploadfile">
                            <i class="fas fa-cloud-upload-alt"></i>
                            <p>upload file</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#base2">
                            <i class="fas fa-folder"></i>
                            <p>All Package</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="base2">
                            <ul class="nav nav-collapse" id="packageul">
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <!-- TimeLine -->
                <h4 class="page-title">项目消息</h4>
                <div class="row">
                    <div class="col-md-12">

                        <ul class="timeline" id="messageUL">
                        </ul>
                        <div class="text-right mt-3 mb-3">
                            <button class="btn btn-secondary" onclick="appendMoreMessageHtml()">加载更多</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="commom/bar :: uploadfilemodel"></div>

<div th:replace="commom/bar :: newprojectpackage"></div>
<!--   Core JS Files   -->
<script th:src="@{/assets/js/core/jquery.3.2.1.min.js}"></script>
<script th:src="@{/assets/js/core/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/core/popper.min.js}"></script>
<!-- jQuery UI -->
<script th:src="@{/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js}"></script>
<!-- Bootstrap Toggle -->
<script th:src="@{/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
<!-- jQuery Scrollbar -->
<script th:src="@{/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<!-- Datatables -->
<script th:src="@{/assets/js/plugin/datatables/datatables.min.js}"></script>
<!-- Azzara JS -->
<script th:src="@{/assets/js/ready.min.js}"></script>
<!-- Azzara DEMO methods, don't include it in your project! -->
<script th:src="@{/assets/js/plugin/chart.js/chart.min.js}"></script>
<!-- Sweet Alert -->
<script th:src="@{/assets/js/plugin/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/assets/js/myjs.js}"></script>
<script th:src="@{/assets/js/plugin/paginator/bootstrap-paginator.js}"></script>

<!--加载用户所有项目-->
<script type="text/javascript" th:inline="javascript">
    var userId = [[${#authentication.principal.id}]];
    user_prjects(userId);
</script>
<!--加载包结构-->
<script type="text/javascript" th:inline="javascript">
    var projectId = [[${param.projectId}]];
    var userId = [[${#authentication.principal.id}]];
    projects_package(projectId, userId);
</script>
<!--包列表-->
<script type="text/javascript" th:inline="javascript">
    var projectId = [[${param.projectId}]];
    package_list(projectId);
</script>
<!--检查包名-->
<script type="text/javascript">
    $(function () {
            $("#packageName").keyup(function () {
                setTimeout('checkPackage()', 1000);
            })
        }
    )
    //检查包名是否存在
    var packageFlag = false;

    function checkPackage() {
        var projectId = $("#newPackageProjectId").val();
        var packageName = $("#packageName").val();
        var packageNamecss = $("#packageName");
        $.ajax({
            type: "get",
            url: "projectsPackage",
            data: {
                "projectId": projectId,
                "packageName": packageName
            },
            success: function (json) {
                if (!json) {
                    packageNamecss.css('borderColor', 'red');
                    packageFlag = false;
                } else {
                    packageNamecss.css('borderColor', '');
                    packageFlag = true;
                }
            }
        })
    }

    //检查注册页面是否填写完成
    function submitPackageCheck() {
        if (!packageFlag) {
            swal("包名已存在，换个名字试试", {
                buttons: false,
                timer: 1500,
            });
            return false;
        }
    }
</script>
<!--加载消息-->
<script type="text/javascript">
    $(function () {
        var userId = [[${#authentication.principal.id}]];
        nav_message(userId);
    })
</script>
<!--加载项目消息-->
<script type="text/javascript">
    var projectId = [[${param.projectId}]];
    var userId = [[${#authentication.principal.id}]];
    var offset = 0;
    var pageSize = 5;
    var messageIndex = 0;
    $(function () {
        ajaxAppendMessage(projectId, userId, offset, pageSize);
    })

    function ajaxAppendMessage(projectId, userId, offset, pageSize) {
        $.ajax({
            type: "get",
            url: "/project_user_message",
            dataType: "json",
            data: {
                projectId: projectId,
                userId: userId,
                offset: offset,
                pageSize: pageSize
            },
            success: function (json) {
                appendMessageHtml(json);
            }
        })
    }

    function appendMessageHtml(list) {//此函数用于处理后台返回的数据，根据自己需求来实现页面拼接
        var messageLi = '';
        for (var i = 0; i < list.length; i++, messageIndex++) {
            if (messageIndex % 2 == 0) {
                messageLi += ' <li>'
            } else {
                messageLi += ' <li class="timeline-inverted">'
            }
            messageLi += '<div class="timeline-badge ' + list[i].projectsMessageType.background + '"><i class="fas ' + list[i].projectsMessageType.icon + '"></i></div>\n' +
                '                                <div class="timeline-panel">\n' +
                '                                    <div class="timeline-heading">\n' +
                '                                        <h4 class="timeline-title">' + list[i].projectsMessageType.type + '</h4>\n' +
                '                                        <p>\n' +
                '                                            <small class="text-muted"><i class="flaticon-message"></i> ' + list[i].time + '\n' +
                '                                            </small>\n' +
                '                                        </p>\n' +
                '                                    </div>\n' +
                '                                    <div class="timeline-body">\n' +
                '                                        <p>' + list[i].message + '</p>\n' +
                '                                    </div>\n' +
                '                                </div>\n' +
                '                            </li>'
        }
        $("#messageUL").append(messageLi);
    }
</script>
<!--加载更多消息-->
<script type="text/javascript">
    var projectId = [[${param.projectId}]];
    var userId = [[${#authentication.principal.id}]];
    function appendMoreMessageHtml() {
        offset = offset + pageSize;
        pageSize = pageSize + 10;
        ajaxAppendMessage(projectId, userId, offset, pageSize);
    }
</script>
</body>
</html>