<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Home</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport'/>
    <link rel="icon" th:href="@{/assets/img/icon.ico}" type="image/x-icon"/>

    <!-- Fonts and icons -->
    <script th:src="@{/assets/js/plugin/webfont/webfont.min.js}"></script>
    <!-- echarts -->
    <script type="text/javascript" th:src="@{/assets/js/echarts.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/echarts.js}"></script>
    <!-- CSS Files -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/azzara.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/fonts.css}">

</head>

<body>
<div class="wrapper">
    <div class="main-header" data-background-color="purple">
        <!-- Logo Header -->
        <div class="logo-header">

            <a th:href="index.html" class="logo">
                <img th:src="@{/assets/img/logoazzara.svg}" alt="navbar brand" class="navbar-brand">
            </a>
            <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
                    data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="fa fa-bars"></i>
					</span>
            </button>
            <button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
            <div class="navbar-minimize">
                <button class="btn btn-minimize btn-rounded">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
        </div>
        <!-- End Logo Header -->

        <!-- Navbar Header -->
        <div th:replace="commom/bar :: topbar"></div>
        <!-- End Navbar -->
    </div>
    <!-- Sidebar -->
    <div th:replace="commom/bar :: projectsidebar"></div>
    <!-- End Sidebar -->
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
                    <h4 class="page-title">项目消息</h4>
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="#">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Base</a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Panels</a>
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-pills nav-secondary nav-pills-no-bd" id="pills-tab-without-border"
                            role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-person-tab-nobd" data-toggle="pill"
                                   href="#pills-person-nobd" role="tab" aria-controls="pills-person-nobd"
                                   aria-selected="true">Person</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-project-tab-nobd" data-toggle="pill"
                                   href="#pills-project-nobd" role="tab" aria-controls="pills-project-nobd"
                                   aria-selected="false">Project</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-todo-tab-nobd" data-toggle="pill"
                                   href="#pills-todo-nobd" role="tab" aria-controls="pills-todo-nobd"
                                   aria-selected="false">Todo</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- TimeLine -->
                <div class="row">
                    <div class="col-md-12">

                        <div class="tab-content mt-2 mb-3" id="pills-without-border-tabContent">
                            <div class="tab-pane fade show active" id="pills-person-nobd" role="tabpanel"
                                 aria-labelledby="pills-person-tab-nobd">
                                <ul class="timeline" id="personMessageUl">
                                </ul>
                                <div class="text-right mt-3 mb-3">
                                    <button class="btn btn-secondary" onclick="appendMorePersonMessageHtml()">加载更多
                                    </button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-project-nobd" role="tabpanel"
                                 aria-labelledby="pills-project-tab-nobd">
                                <ul class="timeline" id="projectMessageUl">
                                </ul>
                                <div class="text-right mt-3 mb-3">
                                    <button class="btn btn-secondary" onclick="appendMoreProjectMessageHtml()">加载更多
                                    </button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-todo-nobd" role="tabpanel"
                                 aria-labelledby="pills-todo-tab-nobd">
                                <p>这里放着待办事务</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--model框-->
<div th:replace="commom/bar :: uploadfilemodel"></div>
<div th:replace="commom/bar :: newprojectpackage"></div>

<!--   Core JS Files   -->
<script th:src="@{/assets/js/core/jquery.3.2.1.min.js}"></script>
<script th:src="@{/assets/js/core/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/core/popper.min.js}"></script>
<!-- jQuery UI -->
<script th:src="@{/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js}"></script>
<!-- Bootstrap Toggle -->
<script th:src="@{/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
<!-- jQuery Scrollbar -->
<script th:src="@{/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<!-- Datatables -->
<script th:src="@{/assets/js/plugin/datatables/datatables.min.js}"></script>
<!-- Azzara JS -->
<script th:src="@{/assets/js/ready.min.js}"></script>
<!-- Azzara DEMO methods, don't include it in your project! -->
<script th:src="@{/assets/js/plugin/chart.js/chart.min.js}"></script>
<!-- Sweet Alert -->
<script th:src="@{/assets/js/plugin/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/assets/js/myjs.js}"></script>
<script th:src="@{/assets/js/plugin/paginator/bootstrap-paginator.js}"></script>

<!--在家导航栏退出公共js-->
<script th:src="@{/assets/js/nav-loginOut.js}"></script>
<!--加载导航栏消息公共js-->
<script th:src="@{/assets/js/nav-message.js}"></script>
<!--加载侧边栏公共js-->
<script th:src="@{/assets/js/nav-sider.js}"></script>
<!--加载项目包侧边栏公共js-->
<script th:src="@{/assets/js/nav-sider-project.js}"></script>
<!--初始化公共js的userId和projectId-->
<script type="text/javascript">
    var projectId = [[${param.projectId}]];
    var userId = [[${#authentication.principal.id}]];
    initJsUserIdAndProjectId(userId, projectId);
</script>

<!--加载项目个人消息-->
<script type="text/javascript">
    var projectId = [[${param.projectId}]];
    var userId = [[${#authentication.principal.id}]];
    var personOffset = 0;
    var personPageSize = 5;
    var personMessageIndex = 0;
    $(function () {
        ajaxAppendPersonMessage(projectId, userId, personOffset, personPageSize);
    })

    function ajaxAppendPersonMessage(projectId, userId, offset, pageSize) {
        $.ajax({
            type: "get",
            url: "/project_user_message_person",
            dataType: "json",
            data: {
                projectId: projectId,
                userId: userId,
                offset: offset,
                pageSize: pageSize
            },
            success: function (json) {
                appendPersonMessageHtml(json);
            }
        })
    }

    //此函数用于处理后台返回的数据，根据自己需求来实现页面拼接
    function appendPersonMessageHtml(list) {
        var messageLi = '';
        for (var i = 0; i < list.length; i++, personMessageIndex++) {
            if (personMessageIndex % 2 == 0) {
                messageLi += ' <li>'
            } else {
                messageLi += ' <li class="timeline-inverted">'
            }
            messageLi += '                       <div class="timeline-badge ' + list[i].projectsMessageType.background + '">' +
                '                                    <i class="fas ' + list[i].projectsMessageType.icon + '"></i>' +
                '                                </div>\n' +
                '                                <div class="timeline-panel" onclick="updatePersonMessageIsRead(' + list[i].id + ')">\n' +
                '                                    <div class="timeline-heading">\n' +
                '                                        <h4 class="timeline-title">'
            if (list[i].isRead == 1) {
                messageLi += '<span style="color: red" id="PersonMessageIsReadSpan' + list[i].id + '">*</span>\n'
            }
            messageLi += '                                  ' + list[i].projectsMessageType.type + ' </h4>\n' +
                '                                        <p>\n' +
                '                                            <small class="text-muted"> ' + list[i].time + '\n' +
                '                                            </small>\n' +
                '                                        </p>\n' +
                '                                    </div>\n' +
                '                                    <div class="timeline-body">\n' +
                '                                        <p>' + list[i].message + '</p>\n' +
                '                                    </div>\n' +
                '                                </div>\n' +
                '                            </li>'
        }
        $("#personMessageUl").append(messageLi);
    }
</script>
<!--加载更多个人消息-->
<script type="text/javascript">
    var projectId = [[${param.projectId}]];
    var userId = [[${#authentication.principal.id}]];

    function appendMorePersonMessageHtml() {
        personOffset = personOffset + personPageSize;
        personPageSize = personPageSize + 10;
        ajaxAppendPersonMessage(projectId, userId, personOffset, personPageSize);
    }
</script>
<!--加载项目消息-->
<script type="text/javascript">
    var projectId = [[${param.projectId}]];
    var offset = 0;
    var pageSize = 5;
    var projectMessageIndex = 0;
    $(function () {
        ajaxAppendProjectMessage(projectId, offset, pageSize);
    })

    function ajaxAppendProjectMessage(projectId, offset, pageSize) {
        $.ajax({
            type: "get",
            url: "/project_user_message_project",
            dataType: "json",
            data: {
                projectId: projectId,
                offset: offset,
                pageSize: pageSize
            },
            success: function (json) {
                appendProjectMessageHtml(json);
            }
        })
    }

    function appendProjectMessageHtml(list) {//此函数用于处理后台返回的数据，根据自己需求来实现页面拼接
        var messageLi = '';
        for (var i = 0; i < list.length; i++, projectMessageIndex++) {
            if (projectMessageIndex % 2 == 0) {
                messageLi += ' <li>'
            } else {
                messageLi += ' <li class="timeline-inverted">'
            }
            messageLi += '<div class="timeline-badge ' + list[i].projectsMessageType.background + '"><i class="fas ' + list[i].projectsMessageType.icon + '"></i></div>\n' +
                '                                <div class="timeline-panel">\n' +
                '                                    <div class="timeline-heading">\n' +
                '                                        <h4 class="timeline-title">' + list[i].projectsMessageType.type + '</h4>\n' +
                '                                        <p>\n' +
                '                                            <small class="text-muted"><i class="flaticon-message"></i> ' + list[i].time + '\n' +
                '                                            </small>\n' +
                '                                        </p>\n' +
                '                                    </div>\n' +
                '                                    <div class="timeline-body">\n' +
                '                                        <p>' + list[i].message + '</p>\n' +
                '                                    </div>\n' +
                '                                </div>\n' +
                '                            </li>'
        }
        $("#projectMessageUl").append(messageLi);
    }
</script>
<!--加载更多项目消息-->
<script type="text/javascript">
    var projectId = [[${param.projectId}]];
    var userId = [[${#authentication.principal.id}]];

    function appendMoreProjectMessageHtml() {
        personOffset = personOffset + personPageSize;
        personPageSize = personPageSize + 10;
        ajaxAppendProjectMessage(projectId, personOffset, personPageSize);
    }
</script>
<!--标志项目个人消息已读-->
<script type="text/javascript">
    function updatePersonMessageIsRead(projectMessageId) {
        $.ajax({
            type: "get",
            url: "/updateProjectMessageIsReadByProjectMessageId",
            dataType: "json",
            data: {
                projectMessageId: projectMessageId,
            },
            success: function (result) {
                if (result.ok) {
                    $("#PersonMessageIsReadSpan"+projectMessageId).html("")
                } else {
                    swal("系统出现错误！", result.message, {
                        icon : "error",
                        buttons: {
                            confirm: {
                                className : 'btn btn-danger'
                            }
                        },
                    });
                }
            }
        })
    }
</script>
</body>
</html>