<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.lingnan.projectmanagment.mapper.DocumentsRecordMapper">
    <select id="getById" resultType="DocumentsRecord">
        select * from documents_record where delete_flag = 1 and id = #{id}
    </select>
    <select id="getAllByProjectId" resultType="DocumentsRecord">
        select * from documents_record where delete_flag = 1 and project_id = #{projectId} order by id desc
    </select>

    <update id="delete">
        update documents_record set delete_flag = 0 where id = #{id};
    </update>

    <update id="update">
        update documents_record set
        <trim suffixOverrides=",">
            <if test="projectId != null">
                project_id = #{projectId},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="operateTime != null">
                operate_time = #{operateTime},
            </if>
            <if test="ip != null">
                ip = #{ip},
            </if>
            <if test="operateMessage != null">
                operate_message = #{operateMessage},
            </if>
        </trim>
        where id = #{id}
    </update>

    <insert id="insert">
        insert into documents_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">
                project_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="operateTime != null">
                operate_time,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="operateMessage != null">
                operate_message,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">
                #{projectId},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="operateTime != null">
                #{operateTime},
            </if>
            <if test="ip != null">
                #{ip},
            </if>
            <if test="operateMessage != null">
                #{operateMessage},
            </if>
        </trim>
    </insert>

    <!--查找所有被注销记录-->
    <select id="getAllDeleteDocumentsRecord" resultType="DocumentsRecord">
        select * from documents_record where delete_flag = 0
    </select>

    <!--撤消一条记录-->
    <update id="undo">
        update documents_record set delete_flag = 1 where id = #{id}
    </update>

    <!-- 查询总记录数 -->
    <select id="getDocumentsRecordCountByProjectId" resultType="int">
        select count(*) from documents_record  where delete_flag = 1 and project_id = #{projectId}
    </select>

    <select id="getDocumentsRecordCountByProjectIdAndUserId" resultType="int">
        select count(*) from documents_record  where delete_flag = 1 and project_id = #{projectId} and user_id = #{userId}
    </select>


    <!--    &lt;!&ndash; 查询分页数据 &ndash;&gt;-->
    <!--    <select id="getPage" resultType="DocumentsRecord">-->
    <!--	    SELECT * FROM documents_record where delete_flag = 1 and project_id = #{projectId} order by id desc limit #{offset},#{pageSize}-->
    <!--    </select>-->

    <!--查找所有项目功能点信息-->
    <resultMap id="documentRecordList" type="DocumentsRecord">
        <result column="id" property="id"></result>
        <result column="project_id" property="projectId"></result>
        <result column="user_id" property="userId"></result>
        <result column="operate_time" property="operateTime"></result>
        <result column="ip" property="ip"></result>
        <result column="operate_message" property="operateMessage"></result>
        <collection property="myUserDetails" column="{id=user_id}"
                    select="cn.edu.lingnan.projectmanagment.mapper.UserMapper.getSimpleMyUserDetailsByUserId">
        </collection>
        <collection property="projectsUser" column="{userId=user_id,projectId=project_id}"
                    select="cn.edu.lingnan.projectmanagment.mapper.ProjectUserMapper.getByUserIdAndProjectId"></collection>
    </resultMap>
    <select id="getDocumentsRecordPageByProjectId" resultMap="documentRecordList">
        select * from documents_record where delete_flag = 1 and project_id = #{projectId} order by id desc limit #{offset},#{pageSize}
    </select>

    <select id="getDocumentsRecordPageByProjectIdAndUserId" resultMap="documentRecordList">
        select * from documents_record where delete_flag = 1 and project_id = #{projectId} and user_id = #{userId} order by id desc limit #{offset},#{pageSize}
    </select>
</mapper>
