<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.lingnan.projectmanagment.mapper.ProjectMapper">
    <!--根据id查找一条记录-->
    <select id="getById" resultType="Projects">
        select * from projects where id = #{id}
    </select>

    <!--根据id查找一条没有被注销记录-->
    <select id="getByIdAndNoDel" resultType="Projects">
        select * from projects where id = #{id} and enabled = 1
    </select>

    <select id="getAdminByUserIdAndProjectId" resultType="Projects">
        select * from projects where charge_user_id = #{userId} and id = #{projectId}
    </select>

    <!--查找所有项目-->
    <select id="getProjectList" resultType="Projects">
        select * from projects where enabled = 1
    </select>

    <!--通过id查询所有项目-->
    <select id="getProjectListByUserId" resultType="Projects">
        select *
        from projects
        where id in ( select projects_id from projects_user where user_id = #{userId} ) and enabled = 1
    </select>

    <!--查找所有被注销项目-->
    <select id="getDelProjectList" resultType="Projects">
        select * from projects where enabled = 0
    </select>

    <!--删除一条记录-->
    <update id="deleteProject">
        update projects set enabled = 0 where id = #{id}
    </update>

    <!--还原一条记录-->
    <update id="reductionProject">
        update projects set enabled = 1 where id = #{id}
    </update>

    <!--更新信息-->
    <update id="editProject">
        update projects set
        <trim suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="chargeUserId != null">charge_user_id = #{chargeUserId},</if>
            <if test="codeLineNumber != null">code_line_number = #{codeLineNumber},</if>
            <if test="schedule != null">schedule = #{schedule},</if>
            <if test="functionPoints != null">function_points = #{functionPoints},</if>
            <if test="completedFunctionPoints != null">completed_function_points = #{completedFunctionPoints},</if>
            <if test="updateCount != null">update_count = #{updateCount},</if>
            <if test="lastUpdateTime != null">last_update_time = #{lastUpdateTime},</if>
            <if test="type != null">type = #{type},</if>
            <if test="characterization != null">characterization = #{characterization},</if>
            <if test="storeCount != null">store_count = #{storeCount},</if>
            <if test="likeCount != null">like_count = #{likeCount},</if>
        </trim>
        where id = #{id}
    </update>

    <!--插入一条记录-->
    <insert id="addProject">
        insert into projects
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="chargeUserId != null">charge_user_id,</if>
            <if test="codeLineNumber != null">code_line_number,</if>
            <if test="schedule != null">schedule,</if>
            <if test="functionPoints != null">function_points,</if>
            <if test="completedFunctionPoints != null">completed_function_points,</if>
            <if test="updateCount != null">update_count,</if>
            <if test="type != null">type,</if>
            <if test="characterization != null">characterization,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="chargeUserId != null">#{chargeUserId},</if>
            <if test="codeLineNumber != null">#{codeLineNumber},</if>
            <if test="schedule != null">#{schedule},</if>
            <if test="functionPoints != null">#{functionPoints},</if>
            <if test="completedFunctionPoints != null">#{completedFunctionPoints},</if>
            <if test="updateCount != null">#{updateCount},</if>
            <if test="type != null">#{type},</if>
            <if test="characterization != null">#{characterization},</if>
        </trim>
    </insert>

    <!--修改项目进度-->
    <update id="updateSchedule">
        update projects set schedule =
        CASE
            when function_points = completed_function_points and function_points != 0 then "已完成"
            when function_points != completed_function_points then "进行中"
            when function_points = 0 then "未开始"
        END
        where enabled = 1 and id = #{id}
    </update>

    <select id="getNewProjectByProject" resultType="Projects">
       select * from projects where name = #{projectName} and charge_user_id = #{chargeUserId} and characterization = #{projectCharacterization}
    </select>

</mapper>