<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.lingnan.projectmanagment.mapper.ProjectUserMapper">

    <!--查找所有项目用户信息-->
    <resultMap id="pulist" type="ProjectsUser">
        <result column="id" property="id"></result>
        <result column="pid" property="projectsId"></result>
        <result column="uid" property="userId"></result>
        <result column="codedevoteline" property="codeDevoteLine"></result>
        <result column="codeupdate" property="codeUpdate"></result>
        <result column="username" property="myUserDetails.username"></result>
        <result column="pname" property="projects.name"></result>
    </resultMap>
    <select id="getProjectUserList" resultMap="pulist">
        select pu.id as id,pu.projects_id as pid,pu.user_id as uid,pu.code_update as codeupdate,u.username as username,p.name as pname
        from projects_user pu,sys_user u,projects p
        where pu.delete_flag = 1 and pu.projects_id = p.id and pu.user_id = u.id
    </select>

    <!--查找所有被注销项目用户信息-->
    <resultMap id="delpulist" type="ProjectsUser">
        <result column="id" property="id"></result>
        <result column="pid" property="projectsId"></result>
        <result column="uid" property="userId"></result>
        <result column="codedevoteline" property="codeDevoteLine"></result>
        <result column="codeupdate" property="codeUpdate"></result>
        <result column="username" property="myUserDetails.username"></result>
        <result column="pname" property="projects.name"></result>
    </resultMap>
    <select id="getDelProjectUserList" resultMap="delpulist">
        select pu.id as id,pu.projects_id as pid,pu.user_id as uid,pu.code_update as codeupdate,u.username as username,p.name as pname
        from projects_user pu,sys_user u,projects p
        where pu.delete_flag = 0 and pu.projects_id = p.id and pu.user_id = u.id
    </select>

    <!--删除一条记录-->
    <update id="deleteProjectUser">
        update projects_user set delete_flag = 0 where id = #{id}
    </update>

    <!--通过ProjectsId删除一条记录-->
    <update id="deleteProjectUserByProjectsId">
        update projects_user set delete_flag = 0 where projects_id = #{id}
    </update>

    <!--还原一条记录-->
    <update id="reductionProjectUser">
        update projects_user set delete_flag = 1 where id = #{id}
    </update>

    <!--更新信息-->
    <update id="editProjectUser">
        update projects_user set
        <trim suffixOverrides=",">
            <if test="projectsId != null">projects_id = #{projectsId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="codeDevoteLine != null">code_devote_line = #{codeDevoteLine},</if>
            <if test="codeUpdate != null">code_update = #{codeUpdate},</if>
        </trim>
        where id = #{id}
    </update>

    <!--插入一条记录-->
    <insert id="addProjectUser">
        insert into projects_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectsId != null">projects_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="codeDevoteLine != null">code_devote_line,</if>
            <if test="codeUpdate != null">code_update,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectsId != null">#{projectsId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="codeDevoteLine != null">#{codeDevoteLine}</if>
            <if test="codeUpdate != null">#{codeUpdate},</if>
        </trim>
    </insert>

    <select id="getByUserIdAndProjectId" resultMap="ProjectsUserList">
        select * from projects_user where delete_flag = 1 and user_id = #{userId} and projects_id = #{projectId}
    </select>

    <select id="getById" resultType="ProjectsUser">
        select * from projects_user where delete_flag = 1 and id = #{id}
    </select>

    <select id="getDelById" resultType="ProjectsUser">
        select * from projects_user where delete_flag = 0 and id = #{id}
    </select>

    <resultMap id="codeDevoteData" type="Echarts">
        <result column="name" property="name"/>
        <result column="value" property="value"/>
    </resultMap>

    <select id="getCodeDevote" resultMap="codeDevoteData">
        SELECT c.username as name ,code_devote_line as value
        from projects_user a, sys_user c
        where a.user_id =c.id
        and a.projects_id = #{project_id}
        group by a.user_id
        order by code_devote_line desc
    </select>

    <resultMap id="codeInsertData" type="Echarts">
        <result column="name" property="name"/>
        <result column="value" property="value"/>
    </resultMap>

    <select id="getCodeInsert" resultType="Integer" resultMap="codeInsertData">
        SELECT c.username as name ,code_update as value
        from projects_user a,sys_user c
        where a.user_id =c.id
        and a.projects_id = #{project_id}
        group by a.user_id
        order by code_update desc
    </select>

    <select id="getCountByProjectId" resultType="int">
        select count(*)
        from projects_user
        where delete_flag = 1 and projects_id = #{projectId}
    </select>

    <!--查找所有项目功能点信息-->
    <resultMap id="ProjectsUserList" type="ProjectsUser">
        <result column="id" property="id"></result>
        <result column="projects_id" property="projectsId"></result>
        <result column="user_id" property="userId"></result>
        <result column="duty_code" property="dutyCode"></result>
        <result column="code_devote_line" property="codeDevoteLine"></result>
        <result column="code_update" property="codeUpdate"></result>
        <collection property="myUserDetails" column="{id=user_id}" select="cn.edu.lingnan.projectmanagment.mapper.MyUserDetailsMapper.findById">
        </collection>
        <collection property="projectsUserDuty" column="{id=duty_code}" select="cn.edu.lingnan.projectmanagment.mapper.ProjectsUserDutyMapper.getById">
        </collection>
    </resultMap>
    <select id="getAllProjectsUserByProjectId" resultMap="ProjectsUserList">
        select * from projects_user where delete_flag = 1 and projects_id = #{projectId} order by code_devote_line desc limit #{offset},#{pageSize};
    </select>

    <select id="getCountNoInProjectByProjectId" resultType="int">
        select count(*)
        from sys_user
         WHERE id not in
            (select user_id
             from projects_user
             where delete_flag = 1 and projects_id = #{projectId} );
    </select>

    <select id="getProjectsUserNoInProjectByProjectId" resultType="MyUserDetails">
        select *
        from sys_user
         WHERE id not in
            (select user_id
             from projects_user
             where delete_flag = 1 and projects_id = #{projectId} )
             limit #{offset},#{pageSize}
    </select>
</mapper>