<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.lingnan.projectmanagment.mapper.ProjectsPackageMapper">
    <select id="getById" resultType="ProjectsPackage">
        select * from projects_package where delete_flag = 1 and id = #{id}
    </select>
    <select id="getAllPackagesByProjects" resultType="ProjectsPackage">
        select * from projects_package where delete_flag = 1 and project_id = #{projectId} group by package_id
    </select>
    <select id="getAllDocumentsByProjectsAndPackage" resultType="ProjectsPackage">
        select * from projects_package where delete_flag = 1 and project_id = #{projectId} and package_id = #{packageId}
    </select>
    <select id="getPackageIdByProjectId" resultType="ProjectsPackage">
        select * from projects_package where delete_flag = 1 and project_id = #{projectId} group by package_id order by
        package_id desc limit 1
    </select>
    <select id="getPackageByProjectIdAndPackageName" resultType="ProjectsPackage">
        select * from projects_package where delete_flag = 1 and project_id = #{projectId} and package_name =
        #{PackageName} group by package_id
    </select>
    <select id="getDocumentsNameByProjectIdAndPackageNameAndDocumentsName" resultType="ProjectsPackage">
        select * from projects_package
        where delete_flag = 1 and project_id = #{projectId} and package_name = #{PackageName} and document_name = #{DocumentName}
    </select>
    <select id="getDocumentsNameByProjectIdAndDocumentsName" resultType="ProjectsPackage">
        select * from projects_package
        where delete_flag = 1 and project_id = #{projectId} and document_name = #{documentName}
    </select>

    <update id="delete">
        update projects_package set delete_flag = 0 where id = #{id};
    </update>

    <update id="update">
        update projects_package set
        <trim suffixOverrides=",">
            <if test="projectId != null">
                project_id = #{projectId},
            </if>
            <if test="packageId != null">
                package_id = #{packageId},
            </if>
            <if test="packageName != null">
                package_name = #{packageName},
            </if>
            <if test="documentName != null">
                document_name = #{documentName},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
        </trim>
        where id = #{id}
    </update>

    <insert id="insert">
        insert into projects_package
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">
                project_id,
            </if>
            <if test="packageId != null">
                package_id,
            </if>
            <if test="packageName != null">
                package_name,
            </if>
            <if test="documentName != null">
                document_name,
            </if>
            <if test="userId != null">
                user_id,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">
                #{projectId},
            </if>
            <if test="packageId != null">
                #{packageId},
            </if>
            <if test="packageName != null">
                #{packageName},
            </if>
            <if test="documentName != null">
                #{documentName},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
        </trim>
    </insert>

    <resultMap id="detailProjectsPackageList" type="ProjectsPackageList">
        <result column="project_id" property="projectId"/>
        <result column="package_id" property="packageId"/>
        <result column="package_name" property="packageName"/>
        <collection property="projectsPackageList" javaType="ArrayList"
                    column="{projectId=project_id,packageId=package_id}"
                    select="cn.edu.lingnan.projectmanagment.mapper.ProjectsPackageMapper.getAllDocumentsByProjectsAndPackage">
            <result column="project_id" property="projectId"/>
            <result column="package_id" property="packageId"/>
            <result column="package_name" property="packageName"/>
            <result column="document_name" property="documentsNmae"/>
            <result column="create_time" property="createTime"/>
        </collection>
    </resultMap>

    <select id="getAllPackagesListByProjectId" resultMap="detailProjectsPackageList">
        select * from projects_package where delete_flag = 1 and project_id = #{projectId} group by package_id
    </select>

</mapper>
