<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.lingnan.projectmanagment.mapper.ProjectMapper">
    <!--根据id查找一条记录-->
    <select id="getById" resultType="Projects">
        select * from projects where id = #{id}
    </select>

    <!--根据id查找一条没有被注销记录-->
    <select id="getByIdAndNoDel" resultType="Projects">
        select * from projects where id = #{id} and enabled = 1
    </select>

    <select id="getAdminByUserIdAndProjectId" resultType="Projects">
        select * from projects where charge_user_id = #{userId} and id = #{projectId}
    </select>

    <!--查找所有项目-->
    <select id="getProjectList" resultType="Projects">
        select * from projects where enabled = 1
    </select>

    <!--通过id查询所有项目-->
    <select id="getProjectListByUserId" resultType="Projects">
        select *
        from projects
        where id in ( select projects_id from projects_user where user_id = #{userId} ) and enabled = 1
    </select>

    <!--查找所有被注销项目-->
    <select id="getDelProjectList" resultType="Projects">
        select * from projects where enabled = 0
    </select>

    <!--删除一条记录-->
    <update id="deleteProject">
        update projects set enabled = 0 where id = #{id}
    </update>

    <!--还原一条记录-->
    <update id="reductionProject">
        update projects set enabled = 1 where id = #{id}
    </update>

    <!--更新信息-->
    <update id="editProject">
        update projects set
        <trim suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="chargeUserId != null">charge_user_id = #{chargeUserId},</if>
            <if test="codeLineNumber != null">code_line_number = #{codeLineNumber},</if>
            <if test="codeUpdateCount != null">code_update_count = #{codeUpdateCount},</if>
            <if test="schedule != null">schedule = #{schedule},</if>
            <if test="functionPoints != null">function_points = #{functionPoints},</if>
            <if test="completedFunctionPoints != null">completed_function_points = #{completedFunctionPoints},</if>
            <if test="lastUpdateTime != null">last_update_time = #{lastUpdateTime},</if>
            <if test="type != null">type = #{type},</if>
            <if test="characterization != null">characterization = #{characterization},</if>
            <if test="storeCount != null">store_count = #{storeCount},</if>
            <if test="likeCount != null">like_count = #{likeCount},</if>
            <if test="clickCount != null">click_count = #{clickCount},</if>
            <if test="userCount != null">user_count = #{userCount},</if>
            <if test="documentCount != null">document_count = #{documentCount},</if>
        </trim>
        where id = #{id}
    </update>

    <!--插入一个项目-->
    <insert id="addProject" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into projects
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="chargeUserId != null">charge_user_id,</if>
            <if test="codeLineNumber != null">code_line_number,</if>
            <if test="codeUpdateCount != null">code_update_count,</if>
            <if test="schedule != null">schedule,</if>
            <if test="functionPoints != null">function_points,</if>
            <if test="completedFunctionPoints != null">completed_function_points,</if>
            <if test="type != null">type,</if>
            <if test="characterization != null">characterization,</if>
            <if test="storeCount != null">store_count,</if>
            <if test="likeCount != null">like_count,</if>
            <if test="clickCount != null">click_count,</if>
            <if test="userCount != null">user_count,</if>
            <if test="documentCount != null">document_count,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="chargeUserId != null">#{chargeUserId},</if>
            <if test="codeLineNumber != null">#{codeLineNumber},</if>
            <if test="codeUpdateCount != null">#{codeUpdateCount},</if>
            <if test="schedule != null">#{schedule},</if>
            <if test="functionPoints != null">#{functionPoints},</if>
            <if test="completedFunctionPoints != null">#{completedFunctionPoints},</if>
            <if test="type != null">#{type},</if>
            <if test="characterization != null">#{characterization},</if>
            <if test="storeCount != null">#{storeCount},</if>
            <if test="likeCount != null">#{likeCount},</if>
            <if test="clickCount != null">#{clickCount},</if>
            <if test="userCount != null">#{userCount},</if>
            <if test="documentCount != null">#{documentCount},</if>
        </trim>
    </insert>

    <!--修改项目进度-->
    <update id="updateSchedule">
        update projects set schedule =
        CASE
            when function_points = completed_function_points and function_points != 0 then "已完成"
            when function_points != completed_function_points then "进行中"
            when function_points = 0 then "未开始"
        END
        where enabled = 1 and id = #{id}
    </update>

    <!--查找所有项目-->
    <select id="getProject" resultType="ProjectsRecommendation">
        select a.id as projectId,b.id as userId,a.name,b.username,a.type,a.characterization as characterization,a.store_count as storeCount,a.click_count as clickCount,
        (select count(*) from user_store us where us.user_id = b.id and us.projects_id = a.id and us.delete_flag = 1) as storeFlag,
        hour(timediff(now(), last_update_time)) as updateTime,
        DATE_FORMAT(last_update_time,'%Y-%m-%d') as updateDate,
        DATE_FORMAT(a.create_time,'%Y-%m-%d') as createDate,
        getFirstHanZiCode(b.username) as firstname
        from projects a,sys_user b
        where a.charge_user_id=b.id and a.enabled = 1 and b.enabled=1
        order by a.id desc limit #{pageNum},#{pageSize};
    </select>

    <!--更新信息-->
    <update id="updateProjectClickNumber">
        update projects set click_count = click_count+1 where id = #{projectId}
    </update>

    <resultMap id="getTodayProjectsInfo" type="map">
        <result column="projectId" property="projectId"/>
        <result column="userId" property="userId"/>
        <result column="name" property="name"/>
        <result column="username" property="username"/>
        <result column="type" property="type"/>
        <result column="characterization" property="characterization"/>
    </resultMap>
    <!--获得今日点击量人数最多的项目信息-->
    <select id="getTodayProject" resultMap="getTodayProjectsInfo">
        select a.id as projectId,b.id as userId,a.name,b.username,a.type,a.characterization as characterization
        from projects a,sys_user b
        where a.charge_user_id=b.id and a.enabled = 1 and b.enabled=1
              and a.id in(select DISTINCT projects_id from user_click where to_days(click_time) = to_days(now()))
         order by click_count desc,like_count desc limit 10;
    </select>

    <resultMap id="getWeekProjectsInfo" type="map">
        <result column="projectId" property="projectId"/>
        <result column="userId" property="userId"/>
        <result column="name" property="name"/>
        <result column="username" property="username"/>
        <result column="type" property="type"/>
        <result column="characterization" property="characterization"/>
    </resultMap>
    <!--获得本周点击量人数最多的项目信息-->
    <select id="getWeekProject" resultMap="getWeekProjectsInfo">
        select a.id as projectId,b.id as userId,a.name,b.username,a.type,a.characterization as characterization
        from projects a,sys_user b
        where a.charge_user_id=b.id and a.enabled = 1 and b.enabled=1
            and a.id in(select DISTINCT projects_id from user_click  where click_time between date_sub(now(),interval 7 DAY) and now())
        order by click_count desc,like_count desc limit 10;
    </select>


    <!--查找所有项目-->
    <select id="getRecommendedCommodities" resultType="ProjectsRecommendation">
        select a.id as projectId,b.id as userId,a.name,b.username,a.type,a.characterization as characterization,a.store_count as storeCount,a.click_count as clickCount,
               (select count(*) from user_store us where us.user_id = b.id and us.projects_id = a.id and us.delete_flag = 1) as storeFlag,
                hour(timediff(now(), last_update_time)) as updateTime,
                DATE_FORMAT(last_update_time,'%Y-%m-%d') as updateDate,
                DATE_FORMAT(a.create_time,'%Y-%m-%d') as createDate,
                getFirstHanZiCode(b.username) as firstname
        from projects a,sys_user b
        where a.charge_user_id=b.id and a.id=#{projecstId} and a.enabled = 1 and b.enabled=1
        order by rand() limit 10;
    </select>

    <!--查找所有项目-->
    <select id="countProjectsRecommendation" resultType="Integer">
        select count(*)
        from projects a,sys_user b
        where a.charge_user_id=b.id and a.enabled = 1 and b.enabled=1;
    </select>

    <!--查找指定类型的所有项目-->
    <select id="getProjectsByType" resultType="ProjectsRecommendation">
        select a.id as projectId,b.id as userId,a.name,b.username,a.type,a.characterization as characterization,a.store_count as storeCount,a.click_count as clickCount,
        (select count(*) from user_store us where us.user_id = b.id and us.projects_id = a.id and us.delete_flag = 1) as storeFlag,
        hour(timediff(now(), last_update_time)) as updateTime,
        DATE_FORMAT(last_update_time,'%Y-%m-%d') as updateDate,
        DATE_FORMAT(a.create_time,'%Y-%m-%d') as createDate,
        getFirstHanZiCode(b.username) as firstname
        from projects a,sys_user b
        where a.charge_user_id=b.id and a.type=#{type} and a.enabled = 1 and b.enabled=1
        order by a.id desc limit #{pageNum},#{pageSize};
    </select>

    <!--查找所有项目-->
    <select id="countProjectsNumberByType" resultType="Integer">
        select count(*)
        from projects a,sys_user b
        where a.charge_user_id=b.id and a.type=#{type} and a.enabled = 1 and b.enabled=1;
    </select>


</mapper>
