<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.lingnan.projectmanagment.mapper.ProjectUserMapper">

    <!--查找所有项目用户信息-->
    <resultMap id="pulist" type="ProjectsUser">
        <result column="id" property="id"></result>
        <result column="pid" property="projectsId"></result>
        <result column="uid" property="userId"></result>
        <result column="codeupdate" property="codeUpdate"></result>
        <result column="username" property="myUserDetails.username"></result>
        <result column="pname" property="projects.name"></result>
    </resultMap>
    <select id="getProjectUserList" resultMap="pulist">
        select pu.id as id,pu.projects_id as pid,pu.user_id as uid,pu.code_update as codeupdate,u.username as username,p.name as pname
        from projects_user pu,sys_user u,projects p
        where pu.delete_flag = 1 and pu.projects_id = p.id and pu.user_id = u.id
    </select>

    <!--查找所有被注销项目用户信息-->
    <resultMap id="delpulist" type="ProjectsUser">
        <result column="id" property="id"></result>
        <result column="pid" property="projectsId"></result>
        <result column="uid" property="userId"></result>
        <result column="codeupdate" property="codeUpdate"></result>
        <result column="username" property="myUserDetails.username"></result>
        <result column="pname" property="projects.name"></result>
    </resultMap>
    <select id="getDelProjectUserList" resultMap="delpulist">
        select pu.id as id,pu.projects_id as pid,pu.user_id as uid,pu.code_update as codeupdate,u.username as username,p.name as pname
        from projects_user pu,sys_user u,projects p
        where pu.delete_flag = 0 and pu.projects_id = p.id and pu.user_id = u.id
    </select>

    <!--删除一条记录-->
    <update id="deleteProjectUser">
        update projects_user set delete_flag = 0 where id = #{id}
    </update>

    <!--通过ProjectsId删除一条记录-->
    <update id="deleteProjectUserByProjectsId">
        update projects_user set delete_flag = 0 where projects_id = #{id}
    </update>

    <!--还原一条记录-->
    <update id="reductionProjectUser">
        update projects_user set delete_flag = 1 where id = #{id}
    </update>

    <!--更新信息-->
    <update id="editProjectUser">
        update projects_user set
        <trim suffixOverrides=",">
            <if test="projectsId != null">projects_id = #{projectsId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="codeUpdate != null">code_update = #{codeUpdate},</if>
        </trim>
        where id = #{id}
    </update>

    <!--插入一条记录-->
    <insert id="addProjectUser">
        insert into projects_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectsId != null">projects_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="codeUpdate != null">code_update,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectsId != null">#{projectsId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="codeUpdate != null">#{codeUpdate},</if>
        </trim>
    </insert>

</mapper>