<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.lingnan.projectmanagment.mapper.UserMapper">
    <select id="findByEmail" resultType="cn.edu.lingnan.projectmanagment.bean.MyUserDetails">
        select * from sys_user where email = #{email} and enabled = 1
    </select>

    <select id="findById" resultType="MyUserDetails">
        select * from sys_user where id = #{id} and enabled = 1
    </select>

    <insert id="addUser">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="email != null">email,</if>
            <if test="phone != null">phone,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="email != null">#{email},</if>
            <if test="phone != null">#{phone},</if>
        </trim>
    </insert>

    <update id="updateUser">
        update sys_user set
        <trim suffixOverrides=",">
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="address != null">address = #{address},</if>
            <if test="introduce != null">introduce = #{introduce},</if>
            <if test="photo != null">photo = #{photo},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="enabled != null">enabled = #{enabled},</if>
            <if test="accountNonExpired != null">account_non_expired = #{accountNonExpired},</if>
            <if test="accountNonLocked != null">account_non_locked = #{accountNonLocked},</if>
            <if test="credentialNonExpired != null">credential_non_expired = #{credentialNonExpired},</if>
            <if test="validataCode != null">validata_code = #{validataCode},</if>
            <if test="outDate">out_date = #{outDate},</if>
        </trim>
        where email = #{email}
    </update>

    <select id="getUserList" resultType="cn.edu.lingnan.projectmanagment.bean.MyUserDetails">
        select * from sys_user where enabled = 1
    </select>

    <insert id="addUser2">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="email != null">email,</if>
            <if test="phone != null">phone,</if>
            <if test="gender != null">gender,</if>
            <if test="birthday != null">birthday,</if>
            <if test="address != null">address,</if>
            <if test="introduce != null">introduce,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="email != null">#{email},</if>
            <if test="phone != null">#{phone},</if>
            <if test="gender != null">#{gender},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="address != null">#{address},</if>
            <if test="introduce != null">#{introduce},</if>
        </trim>
    </insert>

    <update id="deleteUser">
        update sys_user set enabled = 0 where id = #{id}
    </update>

    <update id="editUser">
        update sys_user set
        <trim suffixOverrides=",">
            <if test="username != null">username = #{username},</if>
            <if test="password != null"> password = #{password},</if>
            <if test="email != null">email = #{email},</if>
            <if test="phone != null"> phone = #{phone},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="address != null">address = #{address},</if>
            <if test="introduce != null">introduce = #{introduce},</if>
            <if test="photo != null">photo = #{photo},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="reductionUser">
        update sys_user set enabled = 1 where id = #{id}
    </update>

    <select id="getDeletedUserList" resultType="MyUserDetails">
        select * from sys_user where enabled = 0
    </select>

    <!--查找我的所有项目-->
    <resultMap id="myprojects" type="Myprojects">
        <result column="projectId" property="projectId"></result>
        <result column="projectName" property="projectName"></result>
        <result column="chargeUserId" property="chargeUserId"></result>
        <result column="chargeUser" property="chargeUser"></result>
        <result column="schedule" property="schedule"></result>
        <result column="codeUpdateCount" property="codeUpdateCount"></result>
        <result column="myUpdateCount" property="myUpdateCount"></result>
        <result column="storeCount" property="storeCount"></result>
        <result column="likeCount" property="likeCount"></result>
        <result column="storeFlag" property="storeFlag"></result>
        <result column="likeFlag" property="likeFlag"></result>
    </resultMap>
    <select id="getMyProjects" resultMap="myprojects">
        select p.id as projectId, p.name as projectName, su.id as chargeUserId, su.username as chargeUser,
               p.schedule as schedule, p.code_update_count as codeUpdateCount, pu.code_update as myUpdateCount,
               p.store_count as storeCount, p.like_count as likeCount,
               (select count(*) from user_store us where us.user_id = su.id and us.projects_id = p.id and us.delete_flag = 1) as storeFlag,
               (select count(*) from user_like ul where ul.user_id = su.id and ul.projects_id = p.id and ul.delete_flag = 1) as likeFlag
        from projects_user pu right join projects p on pu.projects_id = p.id
                              right join sys_user su on pu.user_id = su.id
        where pu.delete_flag = 1 and su.enabled = 1 and p.enabled = 1 and pu.user_id = #{id}
    </select>

    <!--查找我负责的项目-->
    <resultMap id="mychargeprojects" type="Myprojects">
        <result column="projectId" property="projectId"></result>
        <result column="projectName" property="projectName"></result>
        <result column="chargeUserId" property="chargeUserId"></result>
        <result column="chargeUser" property="chargeUser"></result>
        <result column="schedule" property="schedule"></result>
        <result column="codeUpdateCount" property="codeUpdateCount"></result>
        <result column="myUpdateCount" property="myUpdateCount"></result>
        <result column="storeCount" property="storeCount"></result>
        <result column="likeCount" property="likeCount"></result>
        <result column="storeFlag" property="storeFlag"></result>
        <result column="likeFlag" property="likeFlag"></result>
    </resultMap>
    <select id="getMyChargeProjects" resultMap="mychargeprojects">
        select p.id as projectId, p.name as projectName, su.id as chargeUserId, su.username as chargeUser,
               p.schedule as schedule, p.code_update_count as codeUpdateCount, pu.code_update as myUpdateCount,
               p.store_count as storeCount, p.like_count as likeCount,
               (select count(*) from user_store us where us.user_id = su.id and us.projects_id = p.id and us.delete_flag = 1) as storeFlag,
               (select count(*) from user_like ul where ul.user_id = su.id and ul.projects_id = p.id and ul.delete_flag = 1) as likeFlag
        from projects_user pu right join projects p on pu.projects_id = p.id
                              right join sys_user su on pu.user_id = su.id
        where pu.delete_flag = 1 and su.enabled = 1 and p.enabled = 1 and pu.user_id = #{id} and p.charge_user_id = #{id}
    </select>

    <!--查找我参与的项目-->
    <resultMap id="myjoinprojects" type="Myprojects">
        <result column="projectId" property="projectId"></result>
        <result column="projectName" property="projectName"></result>
        <result column="chargeUserId" property="chargeUserId"></result>
        <result column="chargeUser" property="chargeUser"></result>
        <result column="schedule" property="schedule"></result>
        <result column="codeUpdateCount" property="codeUpdateCount"></result>
        <result column="myUpdateCount" property="myUpdateCount"></result>
        <result column="storeCount" property="storeCount"></result>
        <result column="likeCount" property="likeCount"></result>
        <result column="storeFlag" property="storeFlag"></result>
        <result column="likeFlag" property="likeFlag"></result>
    </resultMap>
    <select id="getMyJoinProjects" resultMap="myjoinprojects">
        select p.id as projectId, p.name as projectName, su.id as chargeUserId, su.username as chargeUser,
               p.schedule as schedule, p.code_update_count as codeUpdateCount, pu.code_update as myUpdateCount,
               p.store_count as storeCount, p.like_count as likeCount,
               (select count(*) from user_store us where us.user_id = su.id and us.projects_id = p.id and us.delete_flag = 1) as storeFlag,
               (select count(*) from user_like ul where ul.user_id = su.id and ul.projects_id = p.id and ul.delete_flag = 1) as likeFlag
        from projects_user pu right join projects p on pu.projects_id = p.id
                              right join sys_user su on pu.user_id = su.id
        where pu.delete_flag = 1 and su.enabled = 1 and p.enabled = 1 and pu.user_id = #{id} and p.charge_user_id != #{id}
    </select>

    <!--查找我所有的项目进度数据，饼图-->
    <select id="myProjectScheduleNum" resultType="Integer">
        select count(*) from projects p, projects_user pu
            where p.id = pu.projects_id and p.enabled = 1 and pu.delete_flag = 1 and pu.user_id = #{id} and p.schedule = #{schedule}
    </select>

    <!--查找我负责的项目进度数据，饼图-->
    <select id="myProjectScheduleNum2" resultType="Integer">
        select count(*) from projects p, projects_user pu
            where p.id = pu.projects_id and pu.user_id = #{id} and p.schedule = #{schedule} and p.charge_user_id = #{id} and p.enabled = 1 and pu.delete_flag = 1
    </select>

    <!--查找我参加的项目进度数据，饼图-->
    <select id="myProjectScheduleNum3" resultType="Integer">
        select count(*) from projects p, projects_user pu
            where p.id = pu.projects_id and pu.user_id = #{id} and p.schedule = #{schedule} and p.charge_user_id != #{id} and p.enabled = 1 and pu.delete_flag = 1
    </select>

    <!--查找我的项目收藏-->
    <resultMap id="myprojectsstore" type="Myprojects">
        <result column="projectId" property="projectId"></result>
        <result column="projectName" property="projectName"></result>
        <result column="chargeUserId" property="chargeUserId"></result>
        <result column="chargeUser" property="chargeUser"></result>
        <result column="schedule" property="schedule"></result>
        <result column="codeUpdateCount" property="codeUpdateCount"></result>
        <result column="storeCount" property="storeCount"></result>
        <result column="likeCount" property="likeCount"></result>
        <result column="storeFlag" property="storeFlag"></result>
        <result column="likeFlag" property="likeFlag"></result>
        <result column="type" property="type"></result>
        <result column="functionPoints" property="functionPoints"></result>
        <result column="completedFunctionPoints" property="completedFunctionPoints"></result>
    </resultMap>
    <select id="getMyProjectsStore" resultMap="myprojectsstore">
        select p.id as projectId, p.name as projectName, su.id as chargeUserId, su.username as chargeUser,
               p.schedule as schedule, p.code_update_count as codeUpdateCount, p.store_count as storeCount, p.like_count as likeCount,
               (select count(*) from user_store us where us.user_id = #{id} and us.projects_id = p.id and us.delete_flag = 1) as storeFlag,
               (select count(*) from user_like ul where ul.user_id = #{id} and ul.projects_id = p.id and ul.delete_flag = 1) as likeFlag,
               p.type as type, p.function_points as functionPoints, p.completed_function_points as completedFunctionPoints
        from  projects p right join user_store us on p.id = us.projects_id
                         left join sys_user su on p.charge_user_id = su.id
        where p.enabled = 1 and us.user_id = #{id} and us.delete_flag = 1
    </select>
</mapper>