<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.lingnan.projectmanagment.mapper.UserMapper">
    <select id="findByEmail" resultType="cn.edu.lingnan.projectmanagment.bean.MyUserDetails">
        select *
        from sys_user
        where email = #{email}
    </select>
    <select id="findById" resultType="cn.edu.lingnan.projectmanagment.bean.MyUserDetails">
        select *
        from sys_user
        where id = #{id}
    </select>
    <insert id="addUser">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="email != null">email,</if>
            <if test="phone != null">phone,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="email != null">#{email},</if>
            <if test="phone != null">#{phone},</if>
        </trim>
    </insert>

    <update id="updateUser">
        update sys_user set
        <trim suffixOverrides=",">
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="introduce != null">
                introduce = #{introduce},
            </if>
            <if test="lastLoginTime != null">
                last_login_time = #{lastLoginTime},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="enabled != null">
                enabled = #{enabled},
            </if>
            <if test="accountNonExpired != null">
                account_non_expired = #{accountNonExpired},
            </if>
            <if test="accountNonLocked != null">
                account_non_locked = #{accountNonLocked},
            </if>
            <if test="credentialNonExpired != null">
                credential_non_expired = #{credentialNonExpired},
            </if>
            <if test="validataCode != null">
                validata_code = #{validataCode},
            </if>
            <if test="outDate">
                out_date = #{outDate},
            </if>
        </trim>
        where email = #{email}
    </update>
</mapper>