<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.lingnan.projectmanagment.mapper.UserRoleMapper">
    <insert id="insertUserRole">
        insert sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">role_id,</if>
            <if test="userId != null">user_id,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">#{roleId},</if>
            <if test="userId != null">#{userId},</if>
        </trim>
    </insert>
</mapper>
