<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.lingnan.projectmanagment.mapper.UserStoreMapper">
    <!--插入一条记录-->
    <insert id="addUserStore">
        insert into user_store
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="projectsId != null">projects_id,</if>
            <if test="storeTime != null">store_time,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="projectsId != null">#{projectsId},</if>
            <if test="storeTime != null">#{storeTime},</if>
        </trim>
    </insert>

    <select id="getOneUserStore" resultType="UserStore">
        select * from user_store where user_id = #{userId} and projects_id = #{projectId}
    </select>

    <!--删除一条记录-->
    <update id="deleteUserStore">
        update user_store set delete_flag = 0 where user_id = #{userId} and projects_id = #{projectId}
    </update>

    <!--还原一条记录-->
    <update id="reductionUserStore">
        update user_store set delete_flag = 1 where user_id = #{userId} and projects_id = #{projectId}
    </update>

    <!--通过项目id查询被收藏数量-->
    <select id="countProjectBeStored" resultType="Integer">
        select count(*) from user_store
        where projects_id = #{id} and delete_flag = 1
    </select>

    <!--查询收藏总人数-->
    <select id="countUserByStored" resultType="Integer">
        select count(user_id) from user_store
        where delete_flag = 1
    </select>

    <resultMap id="getTheFirstRecored" type="map">
        <result column="userId" property="userId"/>
        <result column="projectsId" property="projectsId"/>
    </resultMap>
    <!--查询第一条有效记录-->
    <select id="findTheFirstRecored" resultMap="getTheFirstRecored">
        select user_id as userId,projects_id as projectsId
        from user_store
        where delete_flag=1
        limit 1;
    </select>

    <!--查询剩余有效记录-->
    <select id="findTheSurplusRecored" resultType="UserStore">
        select user_id as userId,projects_id as projectsId
        from user_store
        where delete_flag=1
        limit #{i},1;
    </select>

</mapper>