<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.lingnan.projectmanagment.mapper.UserClickMapper">
    <!--插入一条记录-->
    <insert id="addUserClick">
        insert into user_click
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="projectsId != null">projects_id,</if>
            <if test="clickTime != null">click_time,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="projectsId != null">#{projectsId},</if>
            <if test="clickTime != null">#{clickTime},</if>
        </trim>
    </insert>

    <select id="getOneUserClick" resultType="UserClick">
        select * from user_click where user_id = #{userId} and projects_id = #{projectId}
    </select>

    <!--删除一条记录-->
    <update id="deleteUserClick">
        update user_click set delete_flag = 0 where user_id = #{userId} and projects_id = #{projectId}
    </update>

    <!--还原一条记录-->
    <update id="reductionUserClick">
        update user_click set delete_flag = 1 where user_id = #{userId} and projects_id = #{projectId}
    </update>

    <!--通过项目id查询点击量-->
    <select id="countProjectByClick" resultType="Integer">
        select count(*) from user_click
        where projects_id = #{id} and delete_flag = 1
    </select>
</mapper>
